# macOS
.DS_Store

# pyenv
.python-version

# compiled requirements
requirements.txt

# virtual environment
venv/

# Ruff cache
.ruff_cache/

# data directory
/data/*
!/data/complementary

# pickle files
*.pkl

# Jupyter notebooks checkpoints
.ipynb_checkpoints

# Python cache
__pycache__/
